obj/Debug/netcoreapp3.0/try.csproj.FileListAbsolute.txt
package_fullBuild.binlog
bin/Debug/netcoreapp3.0/try.dll
bin/Debug/netcoreapp3.0/try.exe
bin/Debug/netcoreapp3.0/try.pdb
bin/Debug/netcoreapp3.0/try.deps.json
bin/Debug/netcoreapp3.0/try.runtimeconfig.json
bin/Debug/netcoreapp3.0/try.runtimeconfig.dev.json
obj/project.assets.json
obj/try.csproj.nuget.cache
obj/try.csproj.nuget.dgspec.json
obj/try.csproj.nuget.g.props
obj/try.csproj.nuget.g.targets
obj/Debug/netcoreapp3.0/try.dll
obj/Debug/netcoreapp3.0/try.exe
obj/Debug/netcoreapp3.0/try.pdb
obj/Debug/netcoreapp3.0/try.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/try.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/try.assets.cache
obj/Debug/netcoreapp3.0/try.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.0/try.csprojAssemblyReference.cache
